DATABASE_URL=postgresql://user:password@localhost:5432/dbname

SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

KAFKA_BOOTSTRAP_SERVERS=server_address

REDIS_HOST=server_address
REDIS_PORT=port_number

ELASTICSEARCH_HOST=server_address
ES_USER=username
ES_PASSWORD=password

STRIPE_SECRET_KEY=key

STRIPE_WEBHOOK_SECRET=key